@page
@model Sql_Mando.Pages.UpdateTitlesModel
@{
}
    <div class="row">
        <div class="col-md-4">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                   <label asp-for="@Model.Title.ID" class="form-control"></label>
                   <input asp-for="@Model.Title.ID" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Title.nconst" class="form-control"></label>
                    <input asp-for="@Model.Title.nconst" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Title.knownTitle" class="form-control"></label>
                    <input asp-for="@Model.Title.knownTitle" class="form-control" />
                </div>
                <div class="form-group">
                    <a asp-page="MoviePage" class=" btn-btn-primary">Cancel</a>
                    <input type="submit" value="add movie" class="btn-btn-primary" />
                </div>
            </form>
        </div>
    </div>